p {
    margin: 0;
}

/* board */
.board-title {
    font-size: 25px;
    margin-bottom: 10px;
}

.board-create-date {
    color: #aaa;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}

.board-content {
    padding: 50px;
    border-bottom: 1px solid black;
}

/* empty */
.empty {
    width: 100%;
    height: 100px;
}

/* comment */
.comment {
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

.comment:nth-child(4) {
    border-top: 1px solid #ddd;
}

.comment-create-date {
    color: #aaa;
}

.comment-writer {
    font-weight: bold;
}

.comment-write {
    margin-top: 30px;
}

.comment-write textarea {
    width: 100%;
    height: 100px;
}

.comment-button {
    text-align: right;
    margin-top: 10px;
}

.comment-footer {
    text-align: center;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border: 5px solid skyblue;
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
}

.comment-footer a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}