.join-form {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    padding: 50px;
    background-color: #ddd;
    border-radius: 20px;
}

.username, .duplicate-button {
    display: inline-block;
}

.username {
    width: 65%;
    margin-right: 5%;
}

.duplicate-button {
    width: 30%;
}

.join-form > p {
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.field-error {
    width: 100%;
    height: 50px;
}